export YW_TEST_REGIONS=
export YW_TEST_INSTANCE_TYPE=
export YW_TEST_API_TOKEN=
export YW_TEST_HOSTNAME=

export YW_TEST_PROVIDER_TYPE=kubernetes

export YW_TEST_KUBERNETES_PROVIDER_KUBECONFIG=
export YW_TEST_KUBERNETES_PROVIDER_REGION=
export YW_TEST_KUBERNETES_PROVIDER_ZONES=
export YW_TEST_KUBERNETES_PROVIDER_STORAGE_CLASS=
export YW_TEST_KUBERNETES_PROVIDER_OVERRIDES_FILE=
export YW_TEST_KUBERNETES_PROVIDER_IMAGE_REGISTRY=quay.io/yugabyte/yugabyte
export YW_TEST_KUBERNETES_PROVIDER_PULL_SECRET_PATH=
