export YW_TEST_PROVIDER_TYPE=preconfigured
export YW_TEST_PROVIDER_NAME=

export YW_TEST_STORAGE_PROVIDER_TYPE=preconfigured
export YW_TEST_STORAGE_PROVIDER_NAME=

export YW_TEST_REGIONS=
export YW_TEST_INSTANCE_TYPE=
export YW_TEST_API_TOKEN=
export YW_TEST_HOSTNAME=
