export YW_TEST_STORAGE_PROVIDER_TYPE=S3
export YW_TEST_S3_STORAGE_BUCKET=

export YW_TEST_S3_STORAGE_AWS_SECRET_KEY=
export YW_TEST_S3_STORAGE_AWS_ACCESS_KEY=

# When using an IAM role, the AWS key and secret must not be set
#export YW_TEST_S3_STORAGE_USE_IAM_ROLE=true
